@media (max-width: 600px) {
  #gpgdownbutton {
    text-align: center;
    margin-top: 10px;
  }
}

@media (min-width: 900px) {
  #colshrink {
    margin: 25px;
    padding: 20px;
    width: 60%;
    background: var(--bs-secondary-text-emphasis);
    border-radius: 20px;
  }
}

#colshrink {
  margin: 25px;
  padding: 20px;
  /*width: 60%;*/
  background: var(--bs-secondary-text-emphasis);
  border-radius: 20px;
}

